/* CSS Comment */
body {
    background-color:#aad4cf;
}

.wrapper {
    width: 1024px;
    margin: -10px auto ;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#d0e7e5 ;
}

/* image */
.container {
    position:relative;
    text-align:center;
    width:1000px;
}

/* site title on image */
.centered {
    position: absolute;
    top: 61%;
    left: 51%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size:3rem;
  }

/* navigation bar */
.story,.home{
    border-right: 1px solid #000;
} 

.bar{
  margin-top: -10px;
}

nav ul li {
    display: inline-block;
}

li a{
    color:black;
    text-decoration:none;
    padding:0px 120px;
    font-size:18px;
    font-weight:bold;
}

.float img{
    width:200px;
    float:left;
    margin-right:15px;
    margin-left:10px;
}

ul.demo {
    margin:-10px;
}

h1,h3,p{
    margin-left: 10px;
 }

#contact{
    padding-top:20px;
}

/* form in box */
.box{
    width:1000px;
    padding-top: 20px;
    border: 1px solid #000;
    margin: 10px;
 }

form div {
        margin-bottom: 10px;
        margin-left: 10px;
} 

input[type=text]{
    width: 99%;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

textarea{
        width: 99%;
        padding: 18px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
     
  }

button[type=send]{
      background-color: #d0e7e5;
      padding:10px;
  }

footer p {
      text-align:right;
      font-size:10px;
      padding:15px 30px;
      
  }